* {
    margin: 0px;
    padding: 0px;
    font-family: IBM Plex Mono;
    text-decoration: none;
    font-size: 20px;
}

.nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    /* padding: 30px; */
    /* border: 2px solid black; */
    align-items: center;
}

.logo {

    /* border: 2px solid black; */
    display: flex;
    width: 50%;
    align-items: center;
}

.logo img {
    height: 60px;
    width: 60px;
    /* border: 2px solid black; */
}

.tags a {
    /* border: 2px solid black; */
    padding: 0px 20px;
    color: rgb(75, 48, 37);
    font-weight: bolder;
}

.tags :hover {

    color: white;
    background-color: rgb(75, 48, 37);
    border-radius: 10px;
    padding: 10px 20px;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: url('https://media.istockphoto.com/id/464448746/vector/fastfood-pattern.jpg?s=2048x2048&w=is&k=20&c=Aluo13nKe4Y0WYwSCZnGgx7lUlClQ0lFSeiZj09H5Yw=');

}




.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    right: 20px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

}

.dropdown .dropdown-options a {
    display: block;
    color: rgb(75, 48, 37);

    padding: 5px;
    text-decoration: none;
    padding: 10px 10px;
    border-bottom: 2px solid rgb(241, 241, 241);
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

.dropdown:hover .dropdown-options {
    display: block;
}

.cover {
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    margin: 20px 0px;


}

.cover .left {
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgb(252, 240, 166);
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(75, 48, 37);
}

.cover .right {
    padding: 10px;
    border-radius: 50px 0px 0px 50px;
    background-color: rgb(252, 240, 166);
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(75, 48, 37);

}

.cover img {
    width: 120px;
}

footer {

    color: white;
    padding: 100px 0px;
    background-color: rgb(75, 48, 37);
    padding-bottom: 0px;


}

.first {
    /* height:300px; */
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mybox a {
    color: white;
    line-height: 30px;
    font-size: 15px;
}

.mybox {
    margin: 50px;
}

.second {
    text-align: center;
    /* border: 2px solid white; */
    padding: 50px;
    line-height: 50px;
}

.second i {
    color: rgb(252, 240, 166);
}

.second input {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    border: none;

}

.second button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(252, 240, 166);
    font-weight: bolder;
    cursor: pointer;

}

.third {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

@media(min-width:1300px) {
    .dropdown {
        display: none;
    }
}

@media(max-width:1300px) {
    .tags {
        display: none;
    }

    .sec,
    footer {
        overflow: auto;
    }

    .sec1 .first {
        flex-wrap: wrap;

    }

    .section {
        overflow: scroll;
    }

}

.choice {
    /* border: 2px solid black; */
    display: flex;

}

.choice1,
.choice2,
.choice3 {
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(75, 48, 37);

    /* border: 2px solid rgb(75, 48, 37); */
    text-align: center;
    width: 200px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(75, 48, 37, 0.675);
    border-radius: 10px;

}

.choice1:hover,
.choice2:hover,
.choice3:hover {
    background-color: rgb(75, 48, 37);
    color: white;
    border-radius: 10px;
}

.section {
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    margin: 20px 0px;

}

.sec1 .first {
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
}

.sec1 {
    text-align: center;
}

.sec1 .first .left {
    /* border: 2px solid black; */
    padding: 0px 80px;
    width: 50%;
    flex-grow: 1;
}

.section .left .container {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    justify-content: space-between;
    border-radius: 100px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(75, 48, 37);
    background-color: rgba(252, 240, 166, 0.436);
    box-shadow: 0px 10px 30px grey;
    margin: 30px 0px;
    cursor: pointer;

}

.section .left .container:hover {
    background-color: #fff;

    filter: saturate(150%);

}

.section .left .container .l {
    /* border: 2px solid black; */
    border-radius: 100px;
    padding: 0px 40px;
}

.section .left .container img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}